[mariadb-repl-0]
type=server
address=mariadb-repl-0.mariadb-repl-internal.default.svc.cluster.local
port=3306
protocol=MariaDBBackend

[mariadb-repl-1]
type=server
address=mariadb-repl-1.mariadb-repl-internal.default.svc.cluster.local
port=3306
protocol=MariaDBBackend

[mariadb-repl-2]
type=server
address=mariadb-repl-2.mariadb-repl-internal.default.svc.cluster.local
port=3306
protocol=MariaDBBackend