[maxscale]
threads=auto
log_debug=1
admin_gui=true
admin_host=0.0.0.0
admin_secure_gui=false

[mariadb-repl-0]
type=server
address=mariadb-repl-0.mariadb-repl-internal.default.svc.cluster.local
port=3306
protocol=MariaDBBackend

[Splitter-Service]
type=service
router=readwritesplit
servers=mariadb-repl-0
user=maxscale
password=MariaDB11!

[Splitter-Listener]
type=listener
service=Splitter-Service
protocol=MariaDBClient
port=3306