[maxscale]
threads=auto
log_debug=1
admin_gui=true
admin_host=0.0.0.0
admin_port=8989
admin_secure_gui=false

[mariadb-0]
type=server
address=mariadb-repl-0.mariadb-repl-internal.default.svc.cluster.local
port=3306
protocol=MariaDBBackend

[mariadb-1]
type=server
address=mariadb-repl-1.mariadb-repl-internal.default.svc.cluster.local
port=3306
protocol=MariaDBBackend

[mariadb-2]
type=server
address=mariadb-repl-2.mariadb-repl-internal.default.svc.cluster.local
port=3306
protocol=MariaDBBackend

[Replication-Monitor]
type=monitor
module=mariadbmon
servers=mariadb-0,mariadb-1,mariadb-2
user=monitor
password=MariaDB11!
monitor_interval=2000ms

[Splitter-Service]
type=service
router=readwritesplit
servers=mariadb-0,mariadb-1,mariadb-2
user=maxscale
password=MariaDB11!

[Splitter-Listener]
type=listener
service=Splitter-Service
protocol=MariaDBClient
port=3306